extends layout

block content
  h1= title
  p Bem-vindo ao Índice de Contratos
  p Aqui você pode visualizar todos os contratos disponíveis

  table 
    thead
      tr
        th ID
        th Contrato
        th Data de Celebração
        th Preço Contratual
        th NIPC Entidade Comunicante
        th Entidade Comunicante
    tbody
      each contrato in contratos
        tr
          td
            a(href='/' + contrato["_id"]) #{contrato["_id"]}
          td= contrato.objectoContrato
          td= contrato.dataCelebracaoContrato
          td= contrato.precoContratual
          td 
            a(href='/' + contrato["NIPC_entidade_comunicante"]) #{contrato.nipc_entidade_comunicante}
          td= contrato['entidade_comunicante']
          td
            a(href='/' + contrato["_id"]) Visualizar
            a(href='/' + contrato["_id"] + '/edit') Editar
            a(href='/' + contrato["_id"] + '/delete') Eliminar


    